<!--<mat-card class="password-card">
  <div class="password-label">Password generator</div>
  <div class="password-content">
    <button mat-icon-button (click)="generatePassword()" aria-label="Novi password">
      <mat-icon>casino</mat-icon>
    </button>
    <span class="password-value">{{ pass() }}</span>
    <button mat-icon-button (click)="copyPassword()" aria-label="Kopiraj password">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</mat-card>-->
<div class="card password-card">
  <div class="card-header">
    Password generator
  </div>
  <div class="card-body password-content">
    <button mat-icon-button (click)="generatePassword()" aria-label="Novi password">
      <mat-icon>casino</mat-icon>
    </button>
    <span class="password-value">{{ pass() }}</span>
    <button mat-icon-button (click)="copyPassword()" aria-label="Kopiraj password">
      <mat-icon>content_copy</mat-icon>
    </button>
   </div>
</div>
