/* =========================
   wiki.scss (component scope)
   ========================= */
// Customize the entire app. Change :root to your selector if you want to scope the styles.

/* Vars */
$font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif !important;
$brand-primary: #248afd;
$brand-secondary: #f5a623;
$brand-support1: #ff4747;
$brand-support2: #71c02b;
$brand-support3: #ffc100;
$brand-primary-dark: #286090;
$brand-hover: #204d74;
$surface-muted: #f3f3f3;

$card-radius: 10px;
$gap: 16px;
$card-padding: 16px;

.top-bar {
  background-color: $brand-hover;
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
  color: white;
  padding-left: 0;
  padding-right: 0;
  display: grid;
  grid-template-columns: auto 1fr; /* Leva auto, desna puni ostatak */
  gap: 20px;
  align-items: start;
}

.top-bar img {
  max-width: 200%;
  max-height: 200%;
  object-fit: contain; /* ili cover */
  display: block;
}

.logged-in {
  color: $brand-primary;
}

/* leve/desne kolone (nije obavezno, ali zgodno za dodatne stilove) */
.top-left-col  {
  /*
  display: grid;
  */
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.top-right-col {
  position: relative;
}

/* neka desna kartica bude “lepljiva” da ostaje u vidu pri skrolu */
.top-right-col .wikiCards {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 16px;
}
