.wiki-gen-cards {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.wikiCards {
  margin-top: 12px;
  min-width: 200px;
  min-height: 110px; /* podešavaj po potrebi */
  padding: 16px;
  border-radius: 4px;
  display: block;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.PrvaKartica {
  margin-left: 16px;
}

.wikiKodCard {
padding: 16px;
}

/*Visina button-a*/
.mat-button-toggle-group.myToggle {
  height: 2rem !important;
  align-items: center;
}

mat-button-toggle-group {
  box-shadow: none;
  color: #FFFFFF;
}

mat-button-toggle {
  color: #FFFFFF;
  background-color: #3c8dbc;
  font-size: 14px;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

mat-button-toggle:hover {
  background-color: #204d74 !important;
  border-radius: 5px !important;
}

.mat-button-toggle-checked {
  background-color: #286090 !important;
  border-color:  #286090;
  color: #FFFFFF !important;
}

.mat-mdc-card-subtitle {
  font-size: 12px;
  margin-bottom: 16px;
}

.myLabel{
  font-size: 14px !important;
  font-style: italic;
}

.mdc-text-field__input,
input.mat-mdc-input-element {
  min-height: 30px !important;
  height: 30px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-size: 12px !important;
}

.WikiKod {
  white-space:pre-wrap;
  background:#f3f3f3;
  border-radius:10px;
  padding:16px;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 10px;
}


/* 2. Custom CSS za uklanjanje kvačice i minus znaka */
      .mat-slide-toggle-thumb svg {
        display: none !important;
      }

/*(opciono) malo veća kuglica radi lepšeg izgleda */
             .mat-slide-toggle-thumb {
               width: 22px;
               height: 22px;
             }


