/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family:"Helvetica Neue", sans-serif; }

::ng-deep input.mat-input-element:disabled {
  color: #d32f2f !important;
  opacity: 1 !important;
}

.mat-mdc-text-field-wrapper,
.mdc-text-field,
.mat-mdc-form-field-infix {
  min-height: 32px !important;
  height: 32px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  width: 100% !important;
}

.mat-mdc-form-field-subscript-wrapper {
  min-height: 0 !important;
  height: 0 !important;
  }

button.mat-mdc-icon-button, .mat-mdc-icon-button {
  height: 30px !important;
  width: 30px !important;
  min-width: 30px !important;
  font-size: 32px !important;
  line-height: 30px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.mat-mdc-slide-toggle .mdc-switch {
  --mdc-switch-selected-track-color: #2196f3;
  --mdc-switch-selected-handle-color: #2196f3;
  --mdc-switch-selected-hover-track-color: #2196f3;
  --mdc-switch-selected-hover-handle-color: #2196f3;
  --mdc-switch-selected-pressed-track-color: #2196f3;
  --mdc-switch-selected-pressed-handle-color: #2196f3;
  --mdc-switch-selected-focus-track-color: #2196f3;
  --mdc-switch-selected-focus-handle-color: #2196f3;

  --mdc-switch-unselected-track-color: #2196f3;
  --mdc-switch-unselected-handle-color: #2196f3;
  --mdc-switch-unselected-hover-track-color: #2196f3;
  --mdc-switch-unselected-hover-handle-color: #2196f3;
  --mdc-switch-unselected-pressed-track-color: #2196f3;
  --mdc-switch-unselected-pressed-handle-color: #2196f3;
  --mdc-switch-unselected-focus-track-color: #2196f3;
  --mdc-switch-unselected-focus-handle-color: #2196f3;
}

::ng-deep .mat-expansion-indicator svg {
  color: white !important;
  fill: white !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: white !important;
}

::ng-deep .mat-expansion-indicator > svg {
  stroke: white !important;
  fill: white !important;
}

::ng-deep .mat-expansion-indicator::after {
  color: #2196f3;
}

/* globalno za celu aplikaciju */
/*:root {
  --mat-expansion-header-indicator-color: #fff;
}*/


